#header{
    height: 15%;
}

#far_right{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0;
}

#dots, #letter_d{
   width: 35px;
   height: 35px;
   padding: 5px;
}

#far_right, #middle, #far_left, #dots,
#letter_d{
    display: inline-block;
}

#logo {
    margin-top: 200px;
    text-align: center;
}

#search{
    width: 600px;
    border-color: rgb(214, 217, 220);
    border-radius: 25px;
}

#search_box{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#buttons{
    text-align: center;
    margin-bottom: 175px;
}

#search_button{
    margin-right: 10px;
}

#lucky_button{
    margin-left: 10px;
}

#footer{
    background: #f2eeee;
    height: 50px;
    text-align: center;
}

#content{
    height: 70%;
}

#carbon_text{
    background-color:#f2eeee;
}